.bubble {
  position: relative;
  padding: 8px 14px;
  white-space: pre-wrap;
}

.bubble-sent {
  background-color: var(--color-main-green);
  color: white;
  border-radius: 24px;
}

.bubble-sent.bubble-multiline {
  border-radius: 16px;
}

.bubble-received {
  background-color: var(--color-gray-03);
  color: var(--color-gray-06);
  border-radius: 24px;
}

.bubble-received.bubble-multiline {
  border-radius: 16px;
}
