@import "tailwindcss";

:root {
  /* screen */
  --screen-width: 375px;
  --screen-height: 812px;

  /* color - grey */
  --color-grey-50: #feffff; /*--color-white*/
  --color-grey-100: #f3f4f7; /*--color-bubble-other*/
  --color-grey-300: #e8edef; /*--color-border-default*/
  --color-text-primary: #0a1014;
  --color-grey-600: #68717b; /*--color-text-secondary */
  --color-bubble-me: #d91ce2;
  --color-action-primary: #5f4cff;
  --color-input-surface: rgba(238, 238, 238, 0.35);

  /* typography */
  --text-xs: 12px;
  --text-sm: 14px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --line-height-tight: 140%;

  /* radius */
  --radius-full: 9999px;
  --radius-bubble: 24px;

  /* spacing */
  --space-1: 1px;
  --space-4: 4px;
  --space-6: 6px;
  --space-7: 7px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-22: 22px;
  --space-24: 24px;
  --space-40: 40px;

  /* size */
  --size-12: 12px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-34: 34px;
  --size-43: 43px;

  /* component width */
  --width-app: 375px;
  --width-text-meta: 122px;
  --width-input: 309px;
  --width-message-max: 246px;

  /* effect */
  --blur-input: 18px;
}
