@import "tailwindcss";

@font-face {
  font-family: "Pretendard Variable";
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-style: normal;
  font-display: swap; /*폰트 로딩 중에도 글자가 보이도록*/
}

@theme {
  --font-pretendard: "Pretendard Variable", -apple-system, sans-serif;

  /* 색상 */
  --color-main1: #cfffd4;
  --color-main2: #7ef48a;
  --color-main3: #59e166;
  --color-sub: #ffb75f;
  --color-gray10: #e6e8eb;
  --color-gray20: #c5c9ce;
  --color-gray30: #a4a9af;
  --color-gray40: #858b92;
  --color-gray50: #686e75;
  --color-gray60: #4d535a;
  --color-gray70: #383d43;
  --color-gray80: #23272c;
  --color-white: #ffffff;
  --color-black: #14171a;

  /* 타이포그래피 */
  --text-head-01: 24px;
  --font-weight-head-01: 600;
  --line-height-head-01: 1.2;
  --letter-spacing-head-01: 0;

  --text-head-02: 20px;
  --font-weight-head-02: 600;
  --line-height-head-02: 1.2;
  --letter-spacing-head-02: -0.01em;

  --text-head-03: 17px;
  --font-weight-head-03: 600;
  --line-height-head-03: 1.2;
  --letter-spacing-head-03: -0.01em;

  --text-body-01: 16px;
  --font-weight-body-01: 500;
  --line-height-body-01: 1.5;
  --letter-spacing-body-01: -0.01em;

  --text-body-02: 14px;
  --font-weight-body-02: 300;
  --line-height-body-02: 1.5;
  --letter-spacing-body-02: -0.02em;

  --text-caption-01: 13px;
  --font-weight-caption-01: 400;
  --line-height-caption-01: 1.5;
  --letter-spacing-caption-01: 0;

  --text-caption-02: 12px;
  --font-weight-caption-02: 400;
  --line-height-caption-02: 1.5;
  --letter-spacing-caption-02: 0;
}

body {
  font-family: var(--font-pretendard);
  background-color: #14171a;
}
