@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    sans-serif;
}

@theme {
  --color-gray-5: #ffffff;
  --color-gray-10: #f5f5f5;
  --color-gray-20: #ebeced;
  --color-gray-30: #dbdcdf;
  --color-gray-40: #c4c7cc;
  --color-gray-50: #aeb0b6;
  --color-gray-60: #878a93;
  --color-gray-70: #70737c;
  --color-gray-80: #5a5c63;
  --color-gray-90: #46474c;
  --color-gray-95: #171719;

  /* ===== Blue ===== */
  --color-blue-5: #dfebf6;
  --color-blue-10: #dfe8f6;
  --color-blue-20: #b8d4f1;
  --color-blue-30: #94bfe7;
  --color-blue-40: #65a9ed;
  --color-blue-50: #358fe9;
  --color-blue-60: #207bd5;
  --color-blue-70: #0b62b7;
  --color-blue-80: #0f4b87;
  --color-blue-90: #153767;
  --color-blue-95: #10294d;

  /* ===== Teal ===== */
  --color-teal-5: #f6f8f9;
  --color-teal-10: #eaf4f6;
  --color-teal-20: #d8eaee;
  --color-teal-30: #c2dee6;
  --color-teal-40: #a8d3e1;
  --color-teal-50: #8fcbdc;
  --color-teal-60: #5fadc4;
  --color-teal-70: #3f889c;
  --color-teal-80: #2f5967;
  --color-teal-90: #213e47;
  --color-teal-95: #182a2f;

  /* ===== Common ===== */
  --color-white: #ffffff;
  --color-black: #000000;

  /*====typography====*/
  --text-title1: 18px;
  --text-title1--line-height: 24px;
  --text-title1--letter-spacing: -0.005em;
  --text-title1--font-weight: 600;

  --text-title2: 17px;
  --text-title2--line-height: 22px;
  --text-title2--letter-spacing: -0.005em;
  --text-title2--font-weight: 600;

  /* ================= BODY ================= */
  --text-body1_sb: 16px;
  --text-body1_sb--line-height: 22px;
  --text-body1_sb--letter-spacing: -0.005em;
  --text-body1_sb--font-weight: 600;

  --text-body1_r: 16px;
  --text-body1_r--line-height: 22px;
  --text-body1_r--letter-spacing: -0.005em;
  --text-body1_r--font-weight: 400;

  --text-body2_sb: 15px;
  --text-body2_sb--line-height: 20px;
  --text-body2_sb--letter-spacing: -0.005em;
  --text-body2_sb--font-weight: 600;

  --text-body2_m: 15px;
  --text-body2_m--line-height: 20px;
  --text-body2_m--letter-spacing: -0.005em;
  --text-body2_m--font-weight: 500;

  --text-body2_r: 15px;
  --text-body2_r--line-height: 20px;
  --text-body2_r--letter-spacing: -0.005em;
  --text-body2_r--font-weight: 400;

  --text-body3_sb: 14px;
  --text-body3_sb--line-height: 20px;
  --text-body3_sb--letter-spacing: -0.005em;
  --text-body3_sb--font-weight: 600;

  --text-body3_r: 14px;
  --text-body3_r--line-height: 20px;
  --text-body3_r--letter-spacing: -0.005em;
  --text-body3_r--font-weight: 400;

  --text-body4_r: 13px;
  --text-body4_r--line-height: 18px;
  --text-body4_r--letter-spacing: -0.005em;
  --text-body4_r--font-weight: 400;

  /* ================= CAPTION ================= */
  --text-caption1: 12px;
  --text-caption1--line-height: 16px;
  --text-caption1--letter-spacing: -0.005em;
  --text-caption1--font-weight: 400;

  --text-caption2_sb: 11px;
  --text-caption2_sb--line-height: 14px;
  --text-caption2_sb--letter-spacing: -0.005em;
  --text-caption2_sb--font-weight: 600;

  --text-caption2_r: 11px;
  --text-caption2_r--line-height: 14px;
  --text-caption2_r--letter-spacing: -0.005em;
  --text-caption2_r--font-weight: 400;

  --text-caption3: 10px;
  --text-caption3--line-height: 12px;
  --text-caption3--letter-spacing: -0.005em;
  --text-caption3--font-weight: 400;
}

:root {
  --font-primary:
    'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.app {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: var(--gray-5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
