@font-face {
  font-family: "SUIT Variable";
  src: url("/fonts/SUIT-Variable.woff2") format("woff2");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

/* Heading1_Bold */
.font-heading-1 {
  font-family: var(--font-suit);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-3);
}

/* Heading2_Bold */
.font-heading-2 {
  font-family: var(--font-suit);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-3);
}

/* Body1_Bold */
.font-body-1 {
  font-family: var(--font-suit);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Body2_Semibold */
.font-body-2 {
  font-family: var(--font-suit);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Body3_Medium */
.font-body-3 {
  font-family: var(--font-suit);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Body4_Bold */
.font-body-4 {
  font-family: var(--font-suit);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Body5_Semibold */
.font-body-5 {
  font-family: var(--font-suit);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Body6_Medium */
.font-body-6 {
  font-family: var(--font-suit);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Caption1_Semibold */
.font-caption-1 {
  font-family: var(--font-suit);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Caption2_Medium */
.font-caption-2 {
  font-family: var(--font-suit);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}

/* Caption3_Semibold */
.font-caption-3 {
  font-family: var(--font-suit);
  font-size: var(--font-size-11);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-2);
}
